<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <queries><package android:name="com.google.android.apps.healthdata" /></queries>
    <application android:name=".GlucoApplication" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.GlucoDay">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".PrivacyActivity" android:exported="true">
            <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/></intent-filter>
        </activity>
        <activity-alias android:name="ViewPermissionUsageActivity" android:exported="true"
            android:targetActivity=".PrivacyActivity" android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>
        </activity-alias>
        <receiver android:name=".platform.ReminderReceiver" android:exported="false" />
        <receiver android:name=".platform.ReminderRescheduleReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".platform.QuickGlucoseWidgetProvider" android:exported="false" android:label="Быстро добавить сахар">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quick_glucose_widget"/>
        </receiver>
    </application>
</manifest>
